@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-retaj:"Aref Ruqaa", serif;
}

html {
  scroll-behavior: smooth;
  background-color: white;
  font-family:"Aref Ruqaa", serif;
}

* {
  scrollbar-width: thin;              /* للفايرفوكس */
  scrollbar-color: #153963 #6c768a85;   /* للفايرفوكس (thumb, track) */
}

/* للكروم / إيدج / سفاري */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #464e5e59; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #153949; /* sky-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #305264; /* sky-700 */
}