@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-retaj:"Amiri", serif;
}

html {
  scroll-behavior: smooth;
  background-color: white;
  font-family: "Amiri", serif;
}

* {
  scrollbar-width: thin;              /* للفايرفوكس */
  scrollbar-color: #474747 #e5e7eb;   /* للفايرفوكس (thumb, track) */
}

/* للكروم / إيدج / سفاري */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9; /* sky-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0369a1; /* sky-700 */
}